.background{
    background-image: url(//external-content.duckduckgo.com/iu/?u=http%3A%2F%2Fclipartmag.com%2Fimage%2Fskyline-r34-drawing-9.jpg&f=1&nofb=1);
    height: 100vh; 
    background-size: cover;
    }